<section>
    <div ng-show="inProgress" layout="column" layout-align="center center">
        <div layout="row">
            <div flex ng-repeat="s in score">
                <h4 class="md-sub-head no-margin">{{s.name}}: {{s.score}}</h4>
            </div>
        </div>
        <h1 class=".md-display-3">{{players[playerCounter].name}}</h1>
        <div layout="row">
            <div flex ng-repeat="hand in players[playerCounter].hand">
                <md-whiteframe class="md-whiteframe-z1 card" layout="column" layout-align="center center">
                    <div>
                        <div class="card-container">
                            <h1 class="md-display-2 no-margin">{{hand.actual}}</h1>
                        </div>
                        <div class="card-container" flex>
                            <img class="suit-image" ng-src="{{hand.image}}">
                        </div>
                    </div>
                </md-whiteframe>
            </div>
        </div>
        <h1 class="md-display-3">{{players[playerCounter].score}}</h1>
        <h1 ng-show="players[playerCounter].bust" class="md-display-3">BUST!</h1>
        <div layout="row">
            <md-button ng-click="HitMeClick()" style="margin-right:20px;" >
                  Hit me
            </md-button>
            <md-button ng-click="Stick(players[playerCounter])" style="margin-right:20px;" >
                  Stick
            </md-button>
        </div>
    </div>
    
</section>
